:root {
  --section-bcg-color: #fffdee;
  --section-dark-bcg-color: #f0ecd6;
  --footer-bcg-color: #0e0c07;
  --main-title-color: #ffffff;
  --accent-color: #f3c653;
  --accent-dark-color: #c79002;
  --btn-menu-title-color: #000000;
  --transparent-btn-color: rgba(0, 0, 0, 0.4);
  --logo-color: #494848;
  --main-text-color: #7a7a7a;
  --light-text-color: #b4b4b4;
  --address-hero-color: #e5e5e5;
  --contacts-color: #828282;
  --defolt-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
