<section class="amenities">
  <div class="container">
    <h2 class="amenities-title">ЗРУЧНОСТІ У НОМЕРІ</h2>
    <p class="amenities-text">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit. Exercitation veniam
      consequat sunt nostrud amet.
    </p>
    <ul class="list">
      <li class="">
        <h3 class="amenities-title">ЗАГАЛЬНІ</h3>
        <ul class="list-amenities-title">
          <li class="position">
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
          <li>
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
        </ul>
      </li>
      <li class="">
        <h3 class="amenities-title">ВАННА КІМНАТА</h3>
        <ul class="list-amenities-title">
          <li class="position">
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
          <li>
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint. Velit officia consequat duis enim velit mollit.
              Exercitation veniam consequat sunt nostrud amet.
            </p>
          </li>
        </ul>
      </li>
      <li class="">
        <h3 class="amenities-title">СПАЛЬНЯ</h3>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint.
        </p>
      </li>
      <li class="">
        <h3 class="amenities-title">КУХНЯ</h3>
        <ul class="list-amenities-title">
          <li class="position">
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </li>
          <li>
            <p class="amenities-text">
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet sint.
            </p>
          </li>
        </ul>
      </li>
      <li class="">
        <h3 class="amenities-title">МЕДІА</h3>
        <p class="amenities-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </li>
    </ul>
    <div class="button-reservation">
      <button class="button-amenities">ОФОРМИТИ БРОНЮВАННЯ</button>

      <div class="number-svg">
        <a class="number" href="#"
          >Повернутися до перегляду номерів
          <svg class="icon-arrow" width="24px" height="24px">
            <use href="/src/images/svg/svg-sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
