<section class="hero">
  <div class="container button-arrow">
    <button class="button-arrow-icons">
      <svg class="arrow-icons" width="40px" height="40px">
        <use href="/src/images/svg/svg-sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <div class="div-button">
      <button class="button-arrow-icons">
        <svg class="arrow-icons" width="40px" height="40px">
          <use href="/src/images/svg/svg-sprite.svg#arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
  <div class="container">
    <div class="box-hero">
      <h1 class="hero-title">ДВОМІСНИЙ НОМЕР люкс</h1>
      <p class="hero-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <div class="box-button">
      <button class="button-hero">Переглянути ціни</button>
    </div>
  </div>
  <div class="contacts">
    <a class="address" href="#">
      <svg class="icon-map" width="24px" height="24px">
        <use href="/src/images/svg/svg-sprite.svg#map-pin"></use>
      </svg>
      Україна, м. Полтава,
      <br />
      вул. Маршала Бірюзова, 15
    </a>
    <ul class="icon-list">
      <li>
        <a href="#" class="icon-list">
          <svg class="icon" width="24px" height="24px">
            <use href="/src/images/svg/svg-sprite.svg#instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="icon-list">
          <svg class="icon" width="24px" height="24px">
            <use href="/src/images/svg/svg-sprite.svg#facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a href="#" class="icon-list">
          <svg class="icon" width="24px" height="24px">
            <use href="/src/images/svg/svg-sprite.svg#telegram"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</section>
