
ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,h2,h3{
    margin: 0;
}

p{
    margin: 0;
}


.amenities-triple{

    background-color: var(--section-bcg-color);
    padding: 48px 0;
    // max-width: 1280px;
}

@media screen and (max-width: 414px){

    .amenities-triple{

        background-color: var(--section-bcg-color);
        padding: 32px 0;
        max-width: 1280px;
    }
}

@media screen and (min-width: 415px) and (max-width: 1023px){

    .amenities-triple{

        background-color: var(--section-bcg-color);
        padding: 32px 0;
        max-width: 1280px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){

    .amenities-triple{

        background-color: var(--section-bcg-color);
        padding: 50px 0 40px;
        max-width: 1280px;
    }
}

@media screen and (min-width: 1280px) {

    .amenities-triple{

        background-color: var(--section-bcg-color);
        padding: 48px 0;
        // max-width: 1280px;
    }
}

.amenities-title{
    font-family: 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.2;
    margin-bottom: 16px;
    color: var(--btn-menu-title-color);
}

.amenities-text{
    margin-bottom: 32px;
    max-width: 757px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
     
}

.position{
    margin-right: auto;
}

@media screen and (min-width: 1280px) {
    .position{
        margin-right: 159px;
    }
}

.list-amenities-title{
    display: flex;
}

@media screen and (max-width: 414px){
    .list-amenities-title{
        display: block;
    }
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .list-amenities-title{
        display: block;
    }
}

.list .amenities-title{
    font-family: 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 16px;
    color: var(--btn-menu-title-color);
}

.list .amenities-text{
    margin-bottom: 32px;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.02em;

    color: var(--main-text-color);
    max-width: 400px; 
}

/* .list .amenities-text:not(:last-child){
    margin-bottom: 32px;
} */

.button-reservation{
 display: flex;
 justify-content: flex-end;
}

@media screen and (max-width: 414px){
    .button-reservation{
        display: flex;
        justify-content: center;
       }
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .button-reservation{
        display: flex;
        justify-content: center;
       }
}

@media screen and (min-width: 1280px) {
    .button-reservation{
        margin-right: 198px;
        justify-content: end;
        align-items: flex-end;
    }
}

.button-amenities{
    display: inline-flex;
    color: var(--main-title-color);
    background-color: var(--btn-menu-title-color);
    border: 1px solid var(--accent-color);
    border-radius: 25px;

    padding: 18px 38px;
    /* margin-top: 40px; */
    margin-bottom: 32px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2; 

    /* border-color: transparent; */
    justify-content: center;
    align-items: center;
    letter-spacing: 0.02em;
    cursor: pointer;
    transition: background-color var(--defolt-animation),  border var(--defolt-animation), color var(--defolt-animation);
}

@media screen and (max-width: 414px){
    .button-amenities{
        display: inline-flex;
        color: var(--main-title-color);
        background-color: var(--btn-menu-title-color);
        border: 1px solid var(--accent-color);
        border-radius: 25px;
    
        padding: 20px 43px;
        /* margin-top: 40px; */
        margin-bottom: 32px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    
        // border-color: transparent;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.02em;
        cursor: pointer;
        transition: background-color var(--defolt-animation),  border var(--defolt-animation), color var(--defolt-animation);
    }
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .button-amenities{
        display: inline-flex;
        color: var(--main-title-color);
        background-color: var(--btn-menu-title-color);
        border: 1px solid var(--accent-color);
        border-radius: 25px;
    
        padding: 20px 43px;
        /* margin-top: 40px; */
        margin-bottom: 32px;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2; 
    
        border-color: transparent;
        justify-content: center;
        align-items: center;
        letter-spacing: 0.02em;
        cursor: pointer;
        transition: background-color var(--defolt-animation),  border var(--defolt-animation), color var(--defolt-animation);
    }
}

.button-amenities:hover,
.button-amenities:focus{
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    color: var(--btn-menu-title-color);
}

.number{
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--accent-dark-color);
    text-decoration: none;
    transition: color var(--defolt-animation);
}

.number:hover,
.number:focus{
    color: var(--accent-color);
}

.icon-arrow:hover,
.icon-arrow:focus{
    color: var(--accent-color);
}

.icon-arrow{
    fill: var(--accent-dark-color);
    margin-left: 16px;
}

@media screen and (max-width: 414px){
    .icon-arrow{
        fill: var(--accent-dark-color);
        margin-left: 12px;
    }  
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .icon-arrow{
        fill: var(--accent-dark-color);
        margin-left: 12px;
    }
}

.number-svg{
    display: flex;
    justify-content: end;
    align-items: end;
}

@media screen and (max-width: 414px){
    .number-svg{
        display: flex;
        justify-content: center;
        align-items: center;
    }  
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .number-svg{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (min-width: 1280px) {
    .number-svg{
        display: flex;
        justify-content: end;
        align-items: end;
        margin-right: 198px;
    }
}