.head {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.head.header-room {
  background: linear-gradient(
    180deg,
    #000000 0%,
    rgba(0, 0, 0, 0.55) 54.17%,
    rgba(0, 0, 0, 0) 100%
  );
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 17px;
  margin-bottom: 87px;
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .header-container {
    padding-top: 25px;
    padding-bottom: 48px;
  }
}

.navigator {
  display: flex;
  align-items: center;
}

.header-logo {
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0.3em;
  color: #ffffff;
  margin-right: 52px;
}

@media (min-width: 1024px) {
  .header-logo {
    margin-right: 207px;
  }
}


@media (min-width:1280px) {
    .header-logo {
        margin-right: 135px;
    }

}

.header-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: #c79002;
  padding-right: 6px;
  transition: var(--defolt-animation);
}

.header-text:hover,
.header-text:focus {
  color: #f3c653;
  
}

@media (min-width: 1024px) {
  .header-text {
    margin-right: 32px;
  }
}

@media (min-width: 1024px) {
  .header-text.header-text-hotel {
    margin-left: 72px;
  }
}

@media (max-width: 1023px) {
  .header-text.header-text-hotel {
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .icon-phone {
    margin-left: 8px;
    margin-right: 4px;
  }
}

.header-icon {
  width: 24px;
  height: 24px;
  transition: var(--defolt-animation);
}

@media (min-width: 1024px) {
  .header-icon {
    display: flex;
    width: 144px;
    height: 40px;
    align-items: center;
    border: 1px solid rgba(243, 198, 83, 0.7);
    border-radius: 2px;
  }
}

@media (min-width: 1024px) {
  .header-icon:hover,
  .header-icon:focus {
    border: 1px solid rgba(241, 188, 52, 1);
  }
}

.header-icon:hover,
.header-icon:focus {
  fill: #f3c653;
  
}

.header-icon:hover .phone-image,
.header-icon:focus .phone-image {
  fill: #f3c653;
  
}

@media (max-width: 1023px) {
  .number-phone {
    display: none;
  }
}

@media (min-width: 1024px) {
  .number-phone {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #ffffff;
  }
}

.phone-image {
  fill: #c79002;
  transition: var(--defolt-animation);
}

// .phone-image:hover,
// .phone-image:focus {
//     fill: #F3C653;
// }

@media (min-width: 1024px) {
  .phone-image {
    margin-left: 8px;
    margin-right: 4px;
  }
}

.header-menu {
  align-items: center;
  display: flex;
  margin-left: auto;
}

@media (max-width:413px) {
  .header-menu {
    display: block;
  }
}

@media (max-width:413px) {
  .header-text.header-text-hotel {
    margin-left: 0px;
  }
}

@media (max-width: 1279px) {
  .social-icons-con {
    display: none;
  }
}

@media (min-width: 1280px) {
  .social-icons-con {
    display: flex;
    gap: 24px;
    margin-left: 141px;
  }
}

.social-icons-item {
  fill: #c79002;
  transition: var(--defolt-animation);
}

.social-icons-item:hover,
.social-icons-item:focus {
  fill: #f3c653;
  
}

// .social-icons-item:hover,
// .social-icons-item:focus {
//     fill: #F3C653;
// }







.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0, 0, 0, .2));
}

.waviy span {
  font-family: 'Film P3';
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s;
  animation-delay: calc(.1s * var(--i));
  letter-spacing: 0.3em;
  margin-right: -17px;
}

@keyframes waviy {

  0%,
  40%,
  100% {
    transform: translateY(0)
  }

  20% {
    transform: translateY(-20px)
  }
}

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

