.head {
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
    width: 100%;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 17px;
    padding-bottom: 87px;
}

@media (min-width:1024px) and (max-width:1280px) {
    .header-container {
        padding-top: 25px;
        padding-bottom: 48px;
    }
}

.navigator {
    display: flex;
    align-items: center;
}

.header-logo {
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 36px;
    line-height: 1.0;
    letter-spacing: 0.3em;
    color: #FFFFFF;
    margin-right: 52px;
}

@media (min-width:1024px) {
    .header-logo {
        margin-right: 207px;
    }
}

@media (min-width:1024px) {
    .header-logo {
        margin-right: 135px;
    }
}

.header-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #F3C653;
    padding-right: 6px;
}

@media (min-width:1024px) {
    .header-text {
        margin-right: 32px;
    }
}

@media (min-width:1024px) {
    .header-text.header-text-hotel {
        margin-left: 72px;
    }
}

@media (max-width:1023px) {
    .header-text.header-text-hotel {
            margin-left: 20px;
        }
}

@media (min-width:1024px) {
    .icon-phone {
        margin-left: 8px;
        margin-right: 4px;
    }
}

.header-icon {
    width: 24px;
    height: 24px;
}

@media (min-width:1024px) {
    .header-icon {
        display: flex;
        width: 144px;
        height: 40px;
        align-items: center;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
    }
}

@media (max-width:1023px) {
    .number-phone {
        display: none;
    }
}

@media (min-width:1024px) {
    .number-phone {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #FFFFFF;
    }
}

.phone-image {
    fill: #F3C653;
}

@media (min-width:1024px) {
    .phone-image {
        margin-left: 8px;
        margin-right: 4px;
    }
}

.header-menu {
    align-items: center;
    display: flex;
    margin-left: auto;
}

@media (max-width:1279px) {
    .social-icons-con {
        display: none;
    }
}

@media (min-width:1280px) {
    .social-icons-con {
            display: flex;
            gap: 24px;
            margin-left: 141px;
        }
}

.social-icons-item {
    fill: #F3C653;
}