

// .hotel-description>.named-hotel-title {
//     margin-left: auto;
//     margin-right: 0;
// }

.hidden {
    display: none;
}

.hotel-details.section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
        url(../images/main-page/hotel-details/hotel-bg-mob.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
            .hotel-details.section {
            background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
                url(../images/main-page/hotel-details/hotel-bg-mob@2x.jpg);
    }
}

    @media screen and(min-width:1024px) {
        .hotel-details.section {
        padding-top: 48px;
        padding-bottom: 47px;
    
        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url(../images/main-page/hotel-details/hotel-bg-tab.jpg);
        background-size: cover;
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hotel-details.section {
            background-image: linear-gradient(rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(../images/main-page/hotel-details/hotel-bg-tab@2x.jpg);
        }
    }
}

    @media screen and (min-width: 1280px) {
        .hotel-details.section {
        padding-top: 48px;
        padding-bottom: 47px;

        background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
            url(../images/main-page/hotel-details/hotel-bg-desk.jpg);
        background-size: cover;
        }

        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hotel-details.section {
            background-image: linear-gradient(rgba(0, 0, 0, 0.65),
                    rgba(0, 0, 0, 0.65)),
                url(../images/main-page/hotel-details/hotel-bg-desk@2x.jpg);
        }
    }
}

.hotel-details .container {
    padding-top: 24px;
    padding-bottom: 40px;
}

    @media screen and (min-width: 1024px) {
        .hotel-details .container {
        padding-top: 48px;
    }
}

.hotel-description {
    width: 243px;
    text-align: right;
    margin-right: auto;
    margin-left: 17px;
    
    @media screen and (min-width: 1024px) {
        width: 549px;
        margin-left: 150px;
    }

    @media screen and (min-width: 1280px) {
        width: 595px;
        margin-left: 295px;
    }
}

.named-hotel-title {
    margin-bottom: 12px;
    margin-left: 143px;
    display: inline-block;
    direction: rtl;
    color: var(--main-title-color);
    font-family: 'Film P3';
    font-weight: 700;
    font-size: 40px;
    line-height: 1.075;
    letter-spacing: 0.3em;
}

@media screen and (min-width: 1024px) {
    .named-hotel-title {
        font-size: 64px;
        line-height: 1.078;
        letter-spacing: 0.3em;
    }
}

.description-title {
    margin-bottom: 20px;
    margin-left: 201px;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

    @media screen and (min-width: 1024px) {
        .description-title {
            margin-bottom: 8px;
            font-size: 24px;
        }
}

.description-hotel-text {
    text-align: left;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: var(--light-text-color);
    margin-bottom: 48px;
}
    @media screen and (min-width: 1024px) {
        .description-hotel-text { 
            margin-bottom: 40px;
            font-size: 16px;
            max-width: 610px;
    }
}

    @media screen and (min-width: 1024px) {
        .hotel-content-wrapper {
            display: flex;
            position: relative;
            gap: 29px;
        }
    }

    @media screen and (min-width: 1280px) {
        .hotel-content-wrapper {
            gap: 32px;
        }
    }

.hotel-room-photo {
    border-radius: 2px;
}

.swipe-slides-list {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 19px;
}

    @media screen and (min-width: 1024px) {
        .swipe-slides-list {
            margin-bottom: 24px;
            position: static;
    }
}

.swipe-slides-item.first {
    margin-right: 90px;
}

    @media screen and (min-width: 1024px) {
        .swipe-slides-item.first {
            margin-right: 34px;
    }
}

    @media screen and (min-width: 1280px) {
        .swipe-slides-item.first {
            margin-right: 87px;
    }
}

.swipe-slides-item.second {
    position: absolute;
    top: 0;
    right: -81px;
}

@media screen and (min-width: 1024px) {
    .swipe-slides-item.second {
        position: static;
        margin-right: 34px;
    }
}

@media screen and (min-width: 1280px) {
    .swipe-slides-item.second {
        margin-right: 87px;
    }
}

.swipe-slides-item.hidden {
    display: none;
}

@media screen and (min-width: 1024px) {
    .swipe-slides-item.hidden {
        display: block;
    }
}

.swipe-button-list {
    flex-direction: row;
    gap: 34px;
    margin-bottom: 39px;
    display: flex;
    justify-content: flex-end;
}

    @media screen and (min-width: 1024px) {
        .swipe-button-list {
            margin-bottom: 47px;
            // margin-left: 615px;
    }
}

    @media screen and (min-width: 1280px) {
        .swipe-button-list {
            margin-bottom: 47.59px;
            margin-left: 829px;
    }
}

.swipe-icon {
    fill: var(--main-title-color);
    transition: fill var(--defolt-animation);
}

.swipe-icon:hover,
.swipe-icon:focus {
    fill: var(--accent-color);
}

.swipe-button {
    height: 32px;
}

.button-list {
    flex-direction: column;
    align-items: center;
    display: flex;
}

@media screen and (min-width: 1024px) {
    .button-list {
        display: flex;
        align-items: flex-end;
        padding-top: 104px;
    }
}

@media screen and (min-width: 1280px) {
    .button-list {
        padding-top: 159px;
    }
}

.btn {
    letter-spacing: 0.02em;
    color: var(--accent-color);
    min-width: 236px;
    cursor: pointer;
    text-align: center;
    background: rgba(0, 0, 0, .4);
    border: 2px solid var(--main-title-color);
    border-radius: 25px;
    padding: 12px 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    display: block;
    transition: background var(--defolt-animation), border var(--defolt-animation);
}

.btn:hover,
.btn:focus {
    background: var(--main-title-color);
    border: 2px solid var(--accent-color);
}

.reservation-room {
    margin-bottom: 16px;
}

.view-price .btn {
    letter-spacing: 0.02em;
    color: var(--accent-color);
    min-width: 236px;
    cursor: pointer;
    text-align: center;
    background: rgba(0, 0, 0, .4);
    border: 2px solid var(--main-title-color);
    border-radius: 25px;
    padding: 12px 22px;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    display: block;
    transition: background var(--defolt-animation), border var(--defolt-animation);
}

.view-price .btn:hover,
.view-price .btn:focus {
    background: var(--main-title-color);
    border: 2px solid var(--accent-color);
}

.view-price .btn:active,
.view-price .btn:visited {
    color: var(--accent-color);
}