.section.restaurant-details {
  background-color: rgba(0, 0, 0, 0.7);
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)), url(../images/main-page/restaurant-details/rest-bg-mob.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section.restaurant-details {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.65),
    rgba(0, 0, 0, 0.65)),
      url(../images/main-page/restaurant-details/rest-bg-mob@2x.jpg);
  }
}



.container.restaurant-details {
  padding-top: 24px;
  padding-bottom: 40px;
}

@media screen and (min-width: 1024px) {
  .container.restaurant-details {
    padding-top: 48px;
  }
}

.logo.restaurant-details {
  margin-bottom: 12px;
  margin-left: 140px;
  display: block;
  color: var(--main-title-color);
  font-family: 'Film P3';
  font-weight: 700;
  font-size: 40px;
  line-height: 1.075;
  letter-spacing: 0.3em;
}
.title.restaurant-details {
  margin-bottom: 20px;
  margin-left: 140px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.text.restaurant-details {
    width: 259px;
    margin-left: 140px;
  margin-bottom: 48px;
  color: var(--light-text-color);
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.02em;
}

.details-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.rest-menu-slide {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    gap: 19px;
}

.slide-icon{
    fill: var(--main-title-color);
}
.menu-navigation {
  display: flex;
  flex-direction: row;
  margin-bottom: 32px;
  gap: 34px;
}
.slide-btn {
  height: 32px;
}
.button.restaurant-details {
  display: inline-block;
  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  width: 236px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--main-title-color);
  border-radius: 25px;
  color: var(--accent-color);
  transition: background var(--defolt-animation), border var(--defolt-animation);
}

.button.restaurant-details:hover,
.button.restaurant-details:focus {
    background: var(--main-title-color);
border: 2px solid var(--accent-color);
}

.details-link {
display: flex;
justify-content: center;
align-items: center;
font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  width: 236px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid var(--main-title-color);
  border-radius: 25px;
  color: var(--accent-color);
  transition: background var(--defolt-animation), border var(--defolt-animation);
}

.details-link:hover,
.details-link:focus {
    background: var(--main-title-color);
    border: 2px solid var(--accent-color);
    }

.details-link:active,
.details-link:visited {
   color: var(--accent-color);
    }


.hidden {
  display: none;
}

