<section class="section sec-contacts">
  <div class="container">
    <h2 hidden>Contacts</h2>
    <div>
      <a href="../src/index.html" class="link logotype">Mimino</a>
      <p class="text-titel">Ресторанно-готельний комплекс</p>
      <ul class="list list-contacts">
        <li class="item-contact">
          <h3 class="titel-contact">Ресторан</h3>
          <div class="inf-contact">
            <svg width="24" height="24" class="icon-contact">
              <use href="./images/svg/svg-sprite.svg#phone"></use>
            </svg>
            <a href="tel:+380955559533" class="link">095 555 95 33</a>
          </div>
        </li>
        <li class="item-contact">
          <h3 class="titel-contact hotel-titel">Готель</h3>
          <div class="inf-contact">
            <svg width="24" height="24" class="icon-contact">
              <use href="./images/svg/svg-sprite.svg#phone"></use>
            </svg>
            <ul class="list hotel-contact">
              <li>
                <a href="tel:+380668491089" class="link hotel-contact">066 849 10 89 </a>
              </li>
              <li>
                <a href="tel:+380672758540" class="link ">067 275 85 40</a>
              </li>
            </ul>
          </div>
        </li>
        <li class="item-contact">
          <h3 hidden class="titel-contact">Локация</h3>
          <div class="inf-contact inf-contact-pin">
            <svg width="24" height="24" class="icon-contact">
              <use href="./images/svg/svg-sprite.svg#map-pin"></use>
            </svg>
            <a href="https://goo.gl/maps/iq5i919z4sMkjD4KA" target="_blank" rel="noreferrer noopener"
              class="link pin-contact">Україна, м. Полтава, <br /> вул. Маршала Бірюзова, 15</a>
          </div>
        </li>
      </ul>
    </div>
    <iframe class="map-location"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2585.923213744328!2d34.52435761603025!3d49.599197456212465!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f3347a5f%3A0x36f3f9aeec44a6a!2z0LLRg9C70LjRhtGPINCc0LDRgNGI0LDQu9CwINCR0ZbRgNGO0LfQvtCy0LAsIDE1LCDQn9C-0LvRgtCw0LLQsCwg0J_QvtC70YLQsNCy0YHRjNC60LAg0L7QsdC70LDRgdGC0YwsINCj0LrRgNCw0ZfQvdCwLCAzNjAwMA!5e0!3m2!1suk!2sca!4v1674855163210!5m2!1suk!2sca"
      width="100%" height="220" style="border:0;" allowfullscreen="" loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</section>