<section class="hotel-about">
  <div class="container">
    <h2 class="visually-hidden">About our hotel</h2>
    <div class="hotel-about-top">
      <div class="hotel-about-top-info">
        <h3 class="hotel-about-top-title">Amet minim mollit non</h3>
        <span class="hotel-about-top-logo">MIMIHO</span>
        <p class="hotel-about-top-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="hotel-about-top-image">
        <source
          srcset="
            ./images/main-page/hotel-about/hotel-about-desk1.jpg    1x,
            ./images/main-page/hotel-about/hotel-about-desk1@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/main-page/hotel-about/hotel-about-tab1.jpg    1x,
            ./images/main-page/hotel-about/hotel-about-tab1@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/main-page/hotel-about/hotel-about-mob1.jpg    1x,
            ./images/main-page/hotel-about/hotel-about-mob1@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1023.98px)"
        />
        <img
          src="./images/main-page/hotel-about/hotel-about-desk1.jpg"
          alt="bed in the bedroom"
          width="460"
        />
      </picture>
    </div>
    <div class="hotel-about-mid">
      <p class="hotel-about-mid-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="hotel-about-mid-image">
        <source
          srcset="
            ./images/main-page/hotel-about/hotel-about-desk2.jpg    1x,
            ./images/main-page/hotel-about/hotel-about-desk2@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
          width="460"
        />
        <source
          srcset="
            ./images/main-page/hotel-about/hotel-about-tab2.jpg    1x,
            ./images/main-page/hotel-about/hotel-about-tab2@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1024px)"
          width="400"
        />
        <source
          srcset="
            ./images/main-page/hotel-about/hotel-about-mob2.jpg    1x,
            ./images/main-page/hotel-about/hotel-about-mob2@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1023.98px)"
          width="244"
        />
        <img
          src="./images/main-page/hotel-about/hotel-about-desk2.jpg"
          alt="hotel hallway"
          width="460"
        />
      </picture>
    </div>
    <div class="hotel-about-slider">
      <div class="slider-flex">
        <picture class="hotel-about-slider-image">
          <source
            srcset="
              ./images/main-page/hotel-about/slider-desk1.jpg    1x,
              ./images/main-page/hotel-about/slider-desk1@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/main-page/hotel-about/slider-tab1.jpg    1x,
              ./images/main-page/hotel-about/slider-tab1@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/main-page/hotel-about/slider-mob1.jpg    1x,
              ./images/main-page/hotel-about/slider-mob1@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 1023.98px)"
          />
          <img
            src="./images/main-page/hotel-about/slider-desk1.jpg"
            alt="hotel reception"
            width="254"
          />
        </picture>
        <picture class="hotel-about-slider-image">
          <source
            srcset="
              ./images/main-page/hotel-about/slider-desk2.jpg    1x,
              ./images/main-page/hotel-about/slider-desk2@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/main-page/hotel-about/slider-tab2.jpg    1x,
              ./images/main-page/hotel-about/slider-tab2@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/main-page/hotel-about/slider-mob2.jpg    1x,
              ./images/main-page/hotel-about/slider-mob2@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 1023.98px)"
          />
          <img
            src="./images/main-page/hotel-about/slider-desk2.jpg"
            alt="white towel on the bed"
            width="254"
          />
        </picture>
      </div>
      <button class="hotel-about-slider-arrow left">
        <svg width="32" height="32">
          <use href="./images/svg/svg-sprite.svg#arrow-left"></use>
        </svg>
      </button>
      <button class="hotel-about-slider-arrow right">
        <svg width="32" height="32">
          <use href="./images/svg/svg-sprite.svg#arrow-right "></use>
        </svg>
      </button>
    </div>
  </div>
</section>
