<!-- SLIDER
<include src="../slide-/slide-main-page-hotel-details.html"></include> -->
<section class="container hotel-details">
    <h2 class="named-hotel-title">МІМІНО</h2>
    <div class="section-hotel">
        <h3 class="hotel-title">Готель</h3>
        <p class="description-hotel-text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
            Velit officia consequat duis enim velit mollit.</p>
        <div class="hotel-content-wrapper">
            <ul class="service-hotel-list list">
                <li class="service-hotel-img img">
                    <img srcset="./images/main-page/hotel-details/hotel-room-slide1.jpg 1x, ./images/main-page/hotel-details/hotel-room-slide1@2x.jpg 2x"
                        width="420" height="270">
                </li>
                <li class="service-hotel-img img">
                    <img srcset="./images/main-page/hotel-details/hotel-room-slide2.jpg 1x, ./images/main-page/hotel-details/hotel-room-slide2@2x.jpg 2x"
                        width="250" height="270">
                </li>
                <li class="service-hotel-img img">
                    <img srcset="./images/main-page/hotel-details/hotel-room-slide3.jpg 1x, ./images/main-page/hotel-details/hotel-room-slide3@2x.jpg 2x"
                        width="476" height="270">
                </li>
            </ul>
        </div>
        <div class="open-submit">
            <button class="hotel-details-button button" type="button" data-modal-open>Забронювати номер</button>
            <button class="hotel-details-button button" type="button" data-modal-open>Переглянути ціни</button>
        </div>
        <div>
            <ul class="switching-list list">
                <li class="switching-item">
                    <a href="" class="switching-link">
                        <svg class="arrow-left-icon" width="" height="">
                            <use href="#"></use>
                        </svg>
                    </a>
                </li>
                <li class="switching-item">
                    <a href="" class="switching-link">
                        <svg class="arrow-right-icon" width="" height="">
                            <use href="#"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>