<!-- SLIDER
<include src="../slide-/slide-main-page-hotel-details.html"></include> -->
<section class="hotel-details section">
    <div class="container">
        <div class="hotel-description">
            <p class="named-hotel-title logo" href="../src/index.html">MIMIHO</p>
            <h2 class="description-title title">Готель</h2>
            <p class="description-hotel-text text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <div class="hotel-content-wrapper">
            <div class="slides-list">
                <div class="swipe-slides swipe-slide-mini">
                    <!-- <picture>
                        <source srcset="./images/main-page/hotel-details/hotel-bg-mob.jpg 1x,
                        ./images/main-page/hotel-details/hotel-bg-mob@2x.jpg 2x" media="(min-width: 414px)"/>
                        <source srcset="./images/main-page/hotel-details/hotel-bg-tab.jpg 1x,
                        ./images/main-page/hotel-details/hotel-bg-tab@2x.jpg 2x" media="(min-width: 1024px)" />
                        <source srcset="./images/main-page/hotel-details/hotel-bg-desk.jpg 1x,
                        ./images/main-page/hotel-details/hotel-bg-desk@2x.jpg 2x" media="(min-width: 1280px)" />
                        <img src="./images/main-page/hotel-details/hotel-bg-desk.jpg" 
                        alt="hotel-room-bg" class="hotel-bg-room"/>
                    </picture> -->
                    <ul>
                        <li>
                            <picture>
                                <source srcset="./images/main-page/hotel-details/hotel-room-slide1.jpg 1x,
                                ./images/main-page/hotel-details/hotel-room-slide1@2x.jpg 2x" media="(min-width: 414px)" />
                                <source srcset="./images/main-page/hotel-details/hotel-room-slide2.jpg 1x,
                                ./images/main-page/hotel-details/hotel-room-slide2@2x.jpg 2x" media="(min-width: 1024px)" />
                                <source srcset="./images/main-page/hotel-details/hotel-room-slide3.jpg 1x,
                                ./images/main-page/hotel-details/hotel-room-slide3@2x.jpg 2x" media="(min-width: 1280px)" />
                                <img src="./images/main-page/hotel-details/hotel-room-slide1.jpg" alt="hotel-room-photo" class="hotel-room-photo" />
                            </picture>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="swipe-buttons">
                <svg width="32" height="32">
                    <use href="./images/svg/arrow-left.svg#arrow-left"></use>
                </svg>
            </div>
            <div class="swipe-buttons">
                <svg width="32" height="32">
                    <use href="./images/svg/arrow-right.svg#arrow-right"></use>
                </svg>
            </div>
        </div>
        <div class="button-wrap">
            <ul class="button-list">
                <li class="button-item">
                    <button class="reservation-room btn" type="button" data-modal>
                     Забронювати номер
                     </button>
                </li>
                <li class="button-item">
                    <a class="view-price btn" href="#">Переглянути ціни</a>
                </li>
            </ul>
        </div>
    </div>
</section>