<!-- SLIDER
<include src="../slide-/slide-main-page-hotel-details.html"></include> -->
<section class="hotel-details section">
    <div class="container">
        <div class="hotel-description">
            <p class="named-hotel-title">MIMIHO</p>
            <h2 class="description-title">Готель</h2>
            <p class="description-hotel-text text-description">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                sint. Velit officia consequat duis enim velit mollit.
            </p>
        </div>
        <div class="hotel-content-wrapper">
            <div class="">
                <div class="swipe-slides swipe-slide-mini">
                    <picture>
                        <source srcset="./images/main-page/hotel-details/hotel-room-slide1.jpg 1x,
                        ./images/main-page/hotel-details/hotel-room-slide1@2x.jpg 2x" 
                        width="270" type="image/jpeg" />

                        <img src="./images/hotel-details/hotel-room-slide1.jpg" 
                        alt="image" width="270" height="270"/>
                    </picture>
                </div>

                <div class="swipe-slides swipe-slides-mini swipe-slides-mini-2">
                    <picture>
                       <source srcset="./images/main-page/hotel-details/hotel-room-slide2.jpg 1x,
                        ./images/images/main-page/hotel-details/hotel-room-slide2@2x.jpg 2x" 
                        width="270" type="image/jpeg" />

                        <img src="./images/main-page/hotel-details/hotel-room-slide2.jpg" 
                        alt="image" width="162" height="270"/>
                    </picture>
                </div>

                <div class="swipe-slides swipe-slides-mini">
                    <picture>
                        <source srcset="./images/main-page/hotel-details/hotel-room-slide3.jpg 1x,
                        ./images/main-page/hotel-details/hotel-room-slide3@2x.jpg 2x" 
                        width="270" type="image/jpeg" />

                        <img src="./images/main-page/hotel-details/hotel-room-slide3.jpg" 
                        alt="image" width="270" height="270"/>
                    </picture>
                </div>
            </div>

            <div class="swipe-buttons">
                <svg width="32" height="32">
                    <use href="./images/svg/arrow-left.svg"></use>
                </svg>
            </div>
            <div class="swipe-buttons">
                <svg width="32" height="32">
                    <use href="./images/svg/arrow-right.svg"></use>
                </svg>
            </div>
        </div>

        <div class="button-wrap">
            <button class="reservation-room btn" type="button" data-modal>
                Забронювати номер
            </button>
            <a class="view-price btn" href="#">Переглянути ціни</a>
        </div>
    </div>
    </div>
</section>