<section class="restaurant-about-">
    <div class="container">
        <h2 class="visually-hidden">About our restaurant</h2>
        <div class="restaurant-about-first">
            <h3 class="restaurant-about-first-title">Amet minim mollit non</h3>
            <span class="restaurant-about-first-logo">МІМІНО</span>
            <p class="restaurant-about-first-text">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
                Velit officia consequat duis enim velit mollit. 
                Exercitation veniam consequat sunt nostrud amet.
            </p>
        </div>
        <picture class="restaurant-about-first-image">
            <source
            srcset="/src/images/main-page/restaurant-about/rest-about-desk1.jpg 1x, 
            /src/images/main-page/restaurant-about/rest-about-desk1@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1280px)"
            />
            <source
            srcset="/src/images/main-page/restaurant-about/rest-about-tab1.jpg 1x, 
            /src/images/main-page/restaurant-about/rest-about-tab1@2x.jpg 2x
            "
            type="image/jpg"
            media="(min-width: 1024px)"
            />
            <source
            srcset="/src/images/main-page/restaurant-about/rest-about-mob1.jpg 1x, 
            /src/images/main-page/restaurant-about/rest-about-mob1@2x.jpg 2x
            "
            type="image/jpg"
            media="(max-width: 1023.98px)"
            />
            <img
              src="/src/images/main-page/restaurant-about/rest-about-desk1.jpg"
              alt=""
              width="460px"
            />
        </picture>
    </div>
    <div class="restaurant-about-second">
        <p class="restaurant-about-second-text">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. 
            Velit officia consequat duis enim velit mollit. 
            Exercitation veniam consequat sunt nostrud amet.
        </p>
        <picture class="restaurant-about-second-image">
            <source
              srcset="
              /src/images/main-page/restaurant-about/rest-about-desk2.jpg 1x,
              /src/images/main-page/restaurant-about/rest-about-desk2@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1280px)"
              width="460"
            />
            <source
              srcset="
              /src/images/main-page/restaurant-about/rest-about-tab2.jpg 1x,
              /src/images/main-page/restaurant-about/rest-about-tab2@2x.jpg 2x
              "
              type="image/jpeg"
              media="(min-width: 1024px)"
              width="400"
            />
            <source
              srcset="
              /src/images/main-page/restaurant-about/rest-about-mob2.jpg 1x,
              /src/images/main-page/restaurant-about/rest-about-mob2@2x.jpg 2x
              "
              type="image/jpeg"
              media="(max-width: 1023.98px)"
              width="244"
            />
            <img
              src="/src/images/main-page/restaurant-about/rest-about-desk2.jpg"
              alt=""
              width="460"
            />
        </picture>
    </div>
    <div class="restaurant-about-slider">
        <div class="slider-flex">
            <picture class="restaurant-about-slider-image">
                <source
                  srcset="
                  /src/images/main-page/restaurant-about/rest-about-desk3.jpg 1x
                  /src/images/main-page/restaurant-about/rest-about-desk3@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                  /src/images/main-page/restaurant-about/rest-about-tab3.jpg 1x
                  /src/images/main-page/restaurant-about/rest-about-tab3@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                  /src/images/main-page/restaurant-about/rest-about-mob3.jpg 1x
                  /src/images/main-page/restaurant-about/rest-about-mob3@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023.98px)"
                />
                <img
                  src="/src/images/main-page/restaurant-about/rest-about-desk3.jpg"
                  alt=""
                  width="254"
                />
              </picture>
              <picture class="restaurant-about-slider-image">
                <source
                  srcset="
                  /src/images/main-page/restaurant-about/rest-about-desk4.jpg 1x 
                  /src/images/main-page/restaurant-about/rest-about-desk4@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1280px)"
                />
                <source
                  srcset="
                  /src/images/main-page/restaurant-about/rest-about-tab4.jpg 1x 
                  /src/images/main-page/restaurant-about/rest-about-tab4@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(min-width: 1024px)"
                />
                <source
                  srcset="
                  /src/images/main-page/restaurant-about/rest-about-mob4.jpg 1x 
                  /src/images/main-page/restaurant-about/rest-about-mob4@2x.jpg 2x
                  "
                  type="image/jpeg"
                  media="(max-width: 1023.98px)"
                />
                <img
                  src="/src/images/main-page/restaurant-about/rest-about-desk4.jpg"
                  alt=""
                  width="254"
                />
              </picture>
            </div>
            <button class="restaurant-about-slider-arrow left">
              <svg width="32" height="32">
                <use href="./images/svg/svg-sprite.svg#arrow-left"></use>
              </svg>
            </button>
            <button class="restaurant-about-slider-arrow right">
              <svg width="32" height="32">
                <use href="./images/svg/svg-sprite.svg#arrow-right "></use>
              </svg>
            </button>
          </div>
        </div>
    </div>
</section>

<!-- SLIDER
<include src="../slide/slide-main-page-rest-about.html"></include> -->
