<section class="section restaurant-details">
  <div class="container restaurant-details">
    <h2 class="visually-hidden">Restaurant details</h2>
    <a class="logo restaurant-details" href="../src/index.html">MIMIHO</a>
    <h3 class="title restaurant-details">Ресторан</h3>
    <p class="text restaurant-details">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <ul class="rest-menu-slide">
      <li>
        <img
          class="rest-menu-image"
          srcset="
            ../src/images/main-page/restaurant-details/rest-menu-slide1.jpg    1x,
            ../src/images/main-page/restaurant-details/rest-menu-slide1@2x.jpg 2x
          "
          src="../src/images/main-page/restaurant-details/rest-menu-slide1.jpg"
          alt="rest-menu"
          width="274"
          height="270"
        />
      </li>
      <li>
        <img
          class="rest-menu-image"
          srcset="
            ../src/images/main-page/restaurant-details/rest-menu-slide2.jpg    1x,
            ../src/images/main-page/restaurant-details/rest-menu-slide2@2x.jpg 2x
          "
          src="../src/images/main-page/restaurant-details/rest-menu-slide2.jpg"
          alt="rest-menu"
          width="162"
          height="270"
        />
      </li>
      <li>
        <img
          class="rest-menu-image"
          srcset="
            ../src/images/main-page/restaurant-details/rest-menu-slide3.jpg    1x,
            ../src/images/main-page/restaurant-details/rest-menu-slide3@2x.jpg 2x
          "
          src="../src/images/main-page/restaurant-details/rest-menu-slide3.jpg"
          alt="rest-menu"
          width="162"
          height="270"
        />
      </li>
    </ul>
    <button class="button slide" type="submit">
      <svg class="slide-icon" width="32" height="32">
        <use href="/src/images/svg/svg-sprite.svg#arrow-left"></use>
      </svg>
    </button>
    <button class="button slide" type="submit">
      <svg class="slide-icon" width="32" height="32">
        <use href="/src/images/svg/svg-sprite.svg#arrow-right"></use>
      </svg>
    </button>
    <ul class="details-list">
      <li class="details-item">
        <button class="button restaurant-details" type="button">
          Забронювати столик
        </button>
      </li>
      <li class="details-item">
        <a href="../src/partials/restoraunt-page/menu.html" class="details-link"
          >Переглянути меню</a
        >
      </li>
    </ul>
  </div>
</section>
