.menu-section {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: #fffdee;
}

@media screen and (min-width: 1024px) {
  .menu-section {
    padding-top: 58px;
    padding-bottom: 40px;
    background-color: #f0ecd6;
  }
}

@media screen and (min-width: 1280px) {
  .menu-section {
    padding-bottom: 60px;
  }
}

.menu-titel {
  padding-bottom: 32px;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.17;
  color: #000000;
}

@media screen and (min-width: 1024px) {
  .menu-titel {
    padding-bottom: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-list {
    display: flex;
    justify-content: space-between;
  }
}

caption {
  margin-top: 8px;
  margin-bottom: 16px;
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: left;
}

@media screen and (min-width: 1024px) {
  caption {
    margin-top: 12px;
    margin-bottom: 20px;
  }

  .salads {
    margin-top: 0;
  }
}

@media screen and (min-width: 1280px) {
  caption {
    margin-top: 8px;
    font-size: 24px;
    line-height: 1.17;
  }

  caption.salads {
    margin-top: 0;
  }

  caption.drinks {
    margin-top: 12px;
  }
}

.hot-dishes {
  margin-top: 0;
}

.menu-dish {
  width: 221px;
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1280px) {
  .menu-dish {
    width: 292px;
    font-size: 16px;
    line-height: 1.25;
  }
}

.menu-ingredients {
  padding-bottom: 8px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.menu-row > .menu-dish {
  padding-bottom: 8px;
}

@media screen and (min-width: 1280px) {
  .menu-ingredients {
    padding-bottom: 12px;
  }
}

.menu-dose {
  width: 80px;
  padding-bottom: 8px;
  padding-left: 30px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
}

.menu-dose-drink {
  width: 80px;
  padding-left: 25px;
  padding-bottom: 8px;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
}

.menu-price {
  width: 83px;
  padding-bottom: 8px;
  padding-left: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1024px) {
  .menu-dose {
    width: 95px;
    padding-left: 45px;
  }

  .menu-dose-drink {
    width: 95px;
    padding-left: 40px;
  }

  .menu-price {
    width: 98px;
    padding-left: 35px;
  }

  .snacks > .menu-dose,
  .snacks > .menu-price,
  .snacks > .menu-ingredients {
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1280px) {
  .menu-dose {
    width: 80px;
    padding-bottom: 12px;
    padding-left: 25px;
  }

  .menu-dose-drink {
    width: 80px;
    padding-left: 20px;
  }

  .menu-price {
    width: 111px;
    padding-bottom: 12px;
    padding-left: 40px;
    font-size: 16px;
    line-height: 1.25;
  }

  .menu-row > .menu-dose {
    padding-bottom: 8px;
  }

  .menu-row > .menu-price {
    padding-bottom: 8px;
  }
}

.btn-rest-reserve {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 23px;
  padding-right: 23px;
  cursor: pointer;
  outline: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  background-color: var(--btn-menu-title-color);
  border: 2px solid #fffdee;
  border-radius: 25px;
  transition: color var(--defolt-animation),
    background-color var(--defolt-animation), border var(--defolt-animation);
}

.btn-rest-reserve:hover,
.btn-rest-reserve:focus,
.btn-rest-reserve:active {
  color: #000000;
  background-color: var(--accent-color);
  border: 1px solid #f3c653;
}

@media screen and (min-width: 1024px) {
  .btn-rest-reserve {
    margin-top: 40px;
    margin-left: auto;
    margin-right: 0;
  }
}

@media screen and (min-width: 1280px) {
  .btn-rest-reserve {
    margin-top: 46px;
  }
}
