.room-double-lux{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var( --section-bcg-color);
    
    
}
@media screen and (min-width: 1024px){
    .room-double-lux{
        padding-top: 62px;
        padding-bottom: 104px;
        position: relative;
    }
}
@media screen and (min-width: 1280px){
    .room-double-lux{
        padding-top: 72px;
        padding-bottom: 112px;
        position: relative;
        padding-left: 70px;
        padding-right: 70px;
        
    }
}
.lux-con-hotel{
    position: relative;
}
.lux-text{
font-family: 'Times New Roman';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.15;
color: var(--light-text-color);
margin-bottom: 8px;
}
@media screen and (min-width: 1024px){
    .lux-text{
font-size: 32px;
line-height: 1.15;
margin-bottom: 4px;
    }
}
.lux-tittle{
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.07;
    letter-spacing: 0.3em;
    color: var(--logo-color);
    margin-bottom: 32px;
}
@media screen and (min-width: 1024px){
    .lux-tittle{
font-size: 64px;
line-height: 1.07;
margin-bottom: 72px;
    }
}
.lux-tittle-bottom{
font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 1.16;
letter-spacing: 0.05em;
color: #000000;
margin-bottom: 12px;
}
@media screen and (min-width: 1024px){
    .lux-tittle-bottom{
font-size: 30px;
line-height: 1.13;
margin-bottom: 24px;

    }
}
@media screen and (min-width: 1280px){
    .lux-tittle-bottom{
font-size: 36px;
line-height: 1.13;
    }
}
.lux-text-bottom{
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 1.25;
letter-spacing: 0.02em;
color: var(--main-text-color);
margin-bottom: 32px;
width: 258px;
}
@media screen and (min-width: 1024px){
    .lux-text-bottom{
font-weight: 700;
font-size: 16px;
line-height: 1.25;
width: 400px;
margin-bottom: 188px;
    }  
}
@media screen and (min-width: 1280px){
    .lux-text-bottom{
        font-weight: 700;
    }
}
@media screen and (min-width: 1024px){
    .lux-third-photo{
        width: 194px;
    }
}
@media screen and (min-width: 1024px){
    .lux-second-photo{
        width: 194px;
    }
}
@media screen and (min-width: 1024px){
.lux-room-photo{
    position: absolute;
    top: -95px;
   left: 465px;
    max-width: 460px;
    z-index: 999;
   
    margin-bottom: 0;
}
}
@media screen and (min-width: 1280px){
    .lux-room-photo{
        position: absolute;
        top: -105px;
        left: 555px;

    }
}
.lux-first-photo{
  margin-left: auto;
  margin-bottom: 32px;
}
@media screen and (min-width: 1024px){
    .lux-first-photo{
        margin-bottom: 0;
        margin-left: 0;
    }
}
.lux-photo-list{
    position: relative;
    display: flex;
    margin-bottom: 28px;
}
.lux-photo-card{
    position: relative;
}
.lux-photo-list-item.second{
   position: absolute;
   top: 0;
   left: -120px;
}
@media screen and (min-width: 1024px){
    .lux-photo-list-item.second{
        position: static;
        margin-right: 40px;
    }
}
.lux-photo-list-item.third{
    margin-left: 90px;
}
@media screen and (min-width: 1024px){
    .lux-photo-list-item.third{
        margin-left: 0;
    }
}
.lux-btn{
    display: flex;
    margin-bottom: 28px;
}
@media screen and (min-width: 1024px){
    .lux-btn{
        position: absolute;
        top: 234px;
        left: 336px;
    }
}

.lux-btn-item{
    margin-right: 34px;
}
.lux-btn-item:last-child{
    margin-right: 0;
}
.lux-btn-modal{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 236px;
    
    margin-left: auto;
    margin-right: auto;
    row-gap: 16px;
}

@media screen and (min-width: 1024px){
    .lux-btn-modal{
        margin-left: 0;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        column-gap: 16px;
       margin-right: 32px;
       margin-left: auto;
    }
}
@media screen and (min-width: 1280px){
    .lux-btn-modal{
        margin-right: 0;
        margin-left: 326px;
    }
}
.lux-button{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.01em;
color: var( --accent-color);
}

.lux-btn-modal-item{
    min-width: 238px;
    height: 48px;
    padding: 14px 64px;
    background-color: #000000;
border-radius: 25px;
transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
border: 2px solid var(---section-bcg-color);
}
.lux-btn-modal-item:hover{
    background: var(--main-title-color);
border: 2px solid var(--accent-color);
}
.lux-btn-modal-item:focus{
    background: var(--main-title-color);
    border: 2px solid  var(--accent-color);
}
.accent{
    padding-right: 37px;
    padding-left: 37px;
}
@media screen and (min-width: 1024px){
    .bottom{
        position: relative;
        display: flex;
    }
}