<div class="modal-win-room modal" data-modal>
  <button type="button" class="room-close-btn js-modal-close">
    <svg class="room-close-btn-icon" width="24" height="24">
      <use href="./images/svg/svg-sprite.svg#close-btn"></use>
    </svg>
  </button>
  <h3 class="modal-title-room">ЗАБРОНЮВАТИ НОМЕР</h3>

  <form class="modal-form-room">
    <div class="box-input-reserve">
      <div>
        <input type="text" name="user_name" autofocus minlength="3" pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Ім'я користувача має складатися з двох слів, розділених пробілом" required class="modal-input"
          placeholder="Ваше ім’я">
        <p class="descrip-input-room">На кого забронювати номер?</p>
      </div>

      <div>
        <input type="tel" name="user_tel" pattern="[+][0-9]{12}" title="+381231111111" required class="modal-input"
          placeholder="+38 (___) ___-__-__">
        <p class="descrip-input-room">Номер телефону</p>
      </div>

    </div>

    <div class="box-input-reserve">
      <div class="box-select-room">
        <select class="select-room" name="select" required>
          <option value="value1" selected>Двомісний люкс</option>
          <option value="value2">Трьохмісний номер</option>
          <option value="value3">Двомісний номер</option>
        </select>
      </div>
      <p class="descrip-input-room">Категорія номеру</p>
    </div>

    <div class="box-input-reserve">
      <div>
        <div class="box-input-date">
          <input type="date" min="2023-01-01" class="modal-input" required />
        </div>
        <p class="descrip-input-room">Дата заїзду</p>
      </div>

      <div>
        <div class="box-input-date">
          <input type="date" min="2023-01-01" class="modal-input" required />
        </div>
        <p class="descrip-input-room">Дата виїзду</p>
      </div>

    </div>

    <button type="submit" class="room-send-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
  </form>
</div>

<div class="overlay js-overlay-modal">
</div>