<div class="modal-win-room modal" data-modal="1">
  <button type="button" class="room-close-btn js-modal-close">
    <svg class="room-close-btn-icon" width="24" height="24">
      <use href="./images/svg/svg-sprite.svg#icon-modal-close"></use>
    </svg>
  </button>
  <h3 class="modal-title-room">ЗАБРОНЮВАТИ НОМЕР</h3>

  <form class="modal-form-room">
    <div class="box-input-reserve">
      <div>
        <input type="text"
          name="user_name"
          autofocus
          minlength="3"
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
          title="Ім'я користувача має складатися з двох слів, розділених пробілом" required class="modal-input"
          placeholder="Ваше ім’я" />
        <p class="descrip-input-room">На кого забронювати номер?</p>
      </div>

      <div>
        <input type="tel" name="user_tel" pattern="[+][0-9]{12}" title="+381231111111" required class="modal-input"
          placeholder="+38 (___) ___-__-__" />
        <p class="descrip-input-room">Номер телефону</p>
      </div>
    </div>

    <div class="box-input-reserve">
      <div class="box-select-room">
        <select class="select-room" name="select" required>
          <option value="">Двомісний люкс</option>
          <option value="value2">Трьохмісний номер</option>
          <option value="value3">Двомісний номер</option>
        </select>
      </div>
      <p class="descrip-input-room">Категорія номеру</p>
    </div>

    <div class="box-input-reserve">
      <div>
        <div class="box-input-date">
          <input type="date" min="2023-01-01" class="modal-input" required />
        </div>
        <p class="descrip-input-room">Дата заїзду</p>
      </div>

      <div>
        <div class="box-input-date">
          <input type="date" min="2023-01-01" class="modal-input" required />
        </div>
        <p class="descrip-input-room">Дата виїзду</p>
      </div>
    </div>

    <button type="submit" class="room-send-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
  </form>
</div>


<!-- модалка для бронювання столика -->
<!-- Модальне вікно -->
<div class="modal-win-table modal" data-modal="2">
  <!-- Кнопка закриття -->

  <button type="button" class="table-close-btn js-modal-close">
    <svg class="table-close-btn-icon" width="24" height="24">

      <use href="./images/svg/svg-sprite.svg#icon-modal-close"></use>
    </svg>
  </button>
  <!-- Заголовок модалки -->
  <h3 class="modal-title-table">ЗАБРОНЮВАТИ СТОЛИК</h3>
  <!-- Форма для заповнення -->
  <form class="modal-form-table">
    <!-- На кого бронювати столик? -->
    <div class="box-user-name-tel">
      <div class="box-input-reserve-table">

        <input class="modal-input-table" type="text" name="user_name" autofocus minlength="3"
          pattern="^[a-zA-Z]+\s[a-zA-Z]+$" title="Ім'я користувача має складатися з двох слів, розділених пробілом"
          required placeholder="Ваше ім’я">
        <p class="descrip-input-table">На кого забронювати столик?</p>
      </div>
      <!-- Номер телефону -->
      <div>
        <input type="tel" name="user_tel" pattern="[+][0-9]{12}" title="+381231111111" required
          class="modal-input-table" placeholder="+38 (___) ___-__-__">
        <p class="descrip-input-table">Номер телефону</p>
      </div>

    </div>


    <!-- Столик на яку кількість осіб? -->
    <div class="box-date-select">
      <div class="box-input-reserve-table">

        <div class="box-select-table">
          <select class="select-table" name="select" required>
            <option value="">1</option>
            <option value="" selected>2</option>
            <option value="value3">3</option>
            <option value="value4">4</option>
            <option value="value5">5</option>
            <option value="value6">6</option>
            <option value="value7">7</option>
            <option value="value8">8</option>
            <option value="value9">9</option>
            <option value="value10">інша кількість</option>
          </select>
        </div>
        <p class="descrip-input-table">Столик на яку кількість осіб?</p>

      </div>
      <!--  На яку дату бронювати?-->
      <div class="box-input-reserve-table">
        <div>
          <div class="box-input-date-table">
            <input type="date" min="2023-01-01" class="modal-input-table" required />
          </div>
          <p class="descrip-input-table">На яку дату бронювати?</p>
        </div>
      </div>


      <button type="submit" class="table-send-btn room-send-btn">ОФОРМИТИ БРОНЮВАННЯ</button>
  </form>
</div>



<!-- Ціни на номер готелю-->
<div class="modal-price-table modal" data-modal="3">
  <button data-modal-close class="button-modal js-modal-close">
    <svg width="24" height="24" class="icon-modal-price">
      <use href="./images/svg/svg-sprite.svg#icon-modal-close"></use>
    </svg>
  </button>
  <h3 class="title-price">ЦІНИ НА НОМЕР</h3>
  <form class="form-order">
    <p class="title-price-room">Двомісний люкс</p>
    <p class="category-form-price">Категорія номеру</p>
    <div class="box-price-room">
      <div class="form-price">
        <div class="form-night">
          <select class="form-night-room" name="select" required="">

            <option value="" >1</option>
            <option value="value2">2</option>
            <option value="value3">3</option>
            <option value="value4">4</option>
            <option value="value5">5</option>
            <option value="value6">6</option>
            <option value="value7">7</option>
          </select>
        </div>
        <p class="category-form-price">Кількість ночей</p>
      </div>
      <div class="form-price">

        <input class="form-night-room" type="text" name="user_name" minlength="3" required placeholder="1000">

        <p class="category-form-price-money">грн</p>
      </div>
    </div>
    <button class="btn-button-price" type="submit">
      ЗАБРОНЮВАТИ НОМЕР
    </button>
  </form>
</div>


<div class="overlay js-overlay-modal">
</div>