<div class="modal-price table modal" data-modal="3">
    <button data-modal-close class="button-modal">
      <svg width="24" height="24" class="icon-modal js-modal-close">
        <use href="./images/svg/svg-sprite.svg#icon-modal-close"></use>
      </svg>
    </button>
    <h3 class="title-price">ЦІНИ НА НОМЕР</h3>
    <form class="form-order">
      <p class="title-price-room">Двомісний люкс</p>
      <p class="category-form-price">Категорія номеру</p>
      <div class="box-price-room">
        <div class="form-price">
          <div class="form-night">
            <select class="form-night-room" name="select" required="">
              <option value="value1" selected="">1</option>
              <option value="value2">2</option>
              <option value="value3">3</option>
              <option value="value4">4</option>
              <option value="value5">5</option>
              <option value="value6">6</option>
              <option value="value7">7</option>
            </select>
          </div>
          <p class="category-form-price">Кількість ночей</p>
        </div>
        <div class="form-price">
          <input class="form-night-room" type="text" name="user_name" autofocus minlength="3" required placeholder="1000">
          <p class="category-form-price-money">грн</p>
        </div>
      </div>
      <button class="btn button-price" type="submit">
        ЗАБРОНЮВАТИ НОМЕР
      </button>
    </form>
  </div>
  <div class="overlay js-overlay-modal">
  </div>