
.overlay {
    /* Скрываем подложку  */
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    transition: 0.3s all;
}
.modal-price-table.modal {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    max-width: 414px;
    // max-height: 780px;
    z-index: 1001;
    padding-top: 60px;
    padding-right: 15px;
    padding-bottom: 60px;
    padding-left: 15px;
    background-color: #FFFDEE;
    border-radius: 2px;
    transition: transform var(--defolt-animation);
}
.modal-price-table.modal {
    transform: translate(-50%, -50%) scale(0.7);
}

@media screen and (min-width: 1024px) {
    .modal-price-table.modal {
      max-width: 712px;
    //   height: 638px;
      padding-right: 60px;
      padding-left: 60px;
    }
}
.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.button-modal {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    min-width: 24px;
    min-height: 24px;
    background-color: transparent;
    outline: transparent;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.button-modal:hover,
.button-modal:focus {
    color: #F3C653;
}

.icon-modal-price {
    width: 24px;
    height: 24px;
    fill: currentColor;
}

.form-order {
    border-radius: 2px;
    z-index: 100;
    margin-top: 48px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    text-align: left;
}

@media screen and (min-width: 1024px) {
    .box-price-room {
      gap: 16px;
      display: flex;
      align-items: start;
      width: 592px;
      height: 92px;
      background-origin: padding-box;
    }
    .form-price {
      margin: 0;
      padding: 0;
      display: block;
      width: 288px;
      height: 92px;
    }
    .form-price > .category-form-price {
      margin: 0;
      padding: 0;
      display: flex;
      flex-direction: column;
      tab-size: 0;
      -webkit-text-size-adjust: auto;
      width: 288px;
    }
}

.title-price {
    margin-bottom: 40px;
    display: block;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-family: Times New Roman;
    font-size: 24px;
    font-weight: 700;
    line-height: 1.17;
}

@media screen and (min-width: 1024px) {
    .title-price {
      margin-bottom: 36px;
      font-size: 40px;
      font-weight: 700;
      line-height: 1.15;
    }
}

.title-price-room {
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    letter-spacing: 0.05em;
    color: #808080;
    margin-bottom: 28px;
}


// .form-input {
//     width: 100%;
//     height: 54px;
//     margin-bottom: 20px;
//     background-color: transparent;
//     outline: transparent;
//     border: 1px solid #C79002;
//     border-radius: 2px;
//     font-family: 'Times New Roman';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 20px;
//     line-height: 23px;
//     letter-spacing: 0.05em;
//     color: #808080;
// }

.category-form-price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #C79002;
    margin-bottom: 20px;
}

.category-form-price-money {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: #C79002;
}

  .form-night-room {
    width: 100%;
    min-height: 64px;
    letter-spacing: 0.05em;
    color: gray;
    transition: border var(--defolt-animation);
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid #C79002;
    border-radius: 2px;
    outline: rgba(0, 0, 0, 0);
    margin-bottom: 8px;
    padding: 12px 17px;
    font-family: Times New Roman;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    display: block;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-night {
    position: relative;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}

.form-night-room::after {
    display: inline-block;
    content: '!!!';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 14px;
    right: 18px;
    pointer-events: none;
    box-sizing: border-box;
    background-image: url('(arrow-select.f15c98ff.svg');
    // background-image: url('/images/svg/arrow-select.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    // outline: 1px solid black;
}
@media screen and (min-width: 1024px) {
    .form-night {
      margin-top: 0;
    }
}

.btn-button-price{
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    color: #fff;
    transition: background-color var(--defolt-animation),
      color var(--defolt-animation), border var(--defolt-animation);
    background-color: #000;
    border: 1px solid #F3C653;
    border-radius: 2px;
    margin-left: auto;
    margin-right: auto;
    padding: 19px 40px;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 40px;
}

.btn-button-price:hover,
.btn-button-price:focus{
    background-color: #F3C653;
    border: 1px solid #F3C653;
    color: #000000;
}

