<!-- SLIDER
<include src="../slide/rest-page-kitchen.html"></include> -->
Hotel-Page-1-room-luxe-for-2-adult
<section class="kitchen">
  <p class="kitchen-text">Amet minim mollit non</p>
  <h2 class="kitchen-tittle">MIMIHO</h2>
  <p class="kitchen-text-bottom">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <picture class="kitchen-room-photo">
    <source
      srcset="
        /src/images/restaurant/rest-about/rest-about-mob1.jpg    1x,
        /src/images/restaurant/rest-about/rest-about-mob1@2x.jpg 2x
      "
      media="(max-width: 1023.99px)"
    />
    <source
      srcset="
        /src/images/restaurant/rest-about/rest-about-tab1.jpg    1x,
        /src/images/restaurant/rest-about/rest-about-tab1@2x.jpg 2x
      "
      media="(max-width: 1279.99px)"
    />
    <source
      srcset="
        /src/images/restaurant/rest-about/rest-about-desk1.jpg    1x,
        /src/images/restaurant/rest-about/rest-about-desk1@2x.jpg 2x
      "
      media="(max-width: 1280px)"
    />
    <img
      class="lux-first-photo"
      src="/src/images/restaurant/rest-about/rest-about-desk1.jpg"
      alt="cook on the kitchen"
    />
  </picture>
  <picture class="kitchen-room-second">
    <source
      srcset="
        /src/images/restaurant/rest-about/rest-about-mob2.jpg    1x,
        /src/images/restaurant/rest-about/rest-about-mob2@2x.jpg 2x
      "
      media="(max-width: 1023.99px)"
    />
    <source
      srcset="
        /src/images/restaurant/rest-about/rest-about-tab2.jpg    1x,
        /src/images/restaurant/rest-about/rest-about-tab2@2x.jpg 2x
      "
      media="(max-width: 1279.99px)"
    />
    <source
      srcset="
        /src/images/restaurant/rest-about/rest-about-desk2.jpg    1x,
        /src/images/restaurant/rest-about/rest-about-desk2@2x.jpg 2x
      "
      media="(max-width: 1280px)"
    />
    <img
      class="lux-first-photo"
      src="/src/images/restaurant/rest-about/rest-about-desk2.jpg"
      alt="meat on the board"
    />
  </picture>
  <p class="kitchen-text-third">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <ul class="kitchen-list">
    <li class="kitchen-list-item">
        <picture class="kitchen-room-third">
            <source
              srcset="
                /src/images/restaurant/rest-about/rest-slide1.jpg    1x,
                /src/images/restaurant/rest-about/rest-slide1@2x.jpg 2x
              "
            />
            <img
              class="lux-first-photo"
              src="/src/images/restaurant/rest-about/rest-slide1.jpg"
              alt="cook kneading dough"
            />
          </picture>
    </li>
    <li class="kitchen-list-item">
        <picture class="kitchen-room-third">
            <source
              srcset="
                /src/images/restaurant/rest-about/rest-slide2.jpg    1x,
                /src/images/restaurant/rest-about/rest-slide2@2x.jpg 2x
              "
            />
            <img
              class="lux-first-photo"
              src="/src/images/restaurant/rest-about/rest-slide2.jpg"
              alt="food on the board"
            />
          </picture>
    </li>
  </ul>
</section>
