<!-- SLIDER
<include src="../slide/rest-page-kitchen.html"></include> -->
Hotel-Page-1-room-luxe-for-2-adult
<section class="kitchen container">
    <p class="kitchen-text">Amet minim mollit non</p>
  <h2 class="kitchen-tittle">MIMIHO</h2>
  <p class="kitchen-text-top">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.`
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
  <img src="/src/images/restaurant/rest-about/rest-about-mob1.jpg" alt="the chef prepares food">
  <img src="/src/images/restaurant/rest-about/rest-about-mob2.jpg" alt="meat on the table">
  <p class="kitchen-text-bottom">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
  <img src="/src/images/restaurant/rest-about/rest-slide1.jpg" alt="cook kneading dough">
  <img src="/src/images/restaurant/rest-about/rest-slide2.jpg" alt="food on the board">
  <button class="kitchen-slide-btn" type="button">
    <svg width="30" height="17">
      <use href="/src/images/svg/svg-sprite.svg#arrow-left"></use>
    </svg>
  </button>
  <button class="kitchen-slide-btn" type="button">
    <svg width="30" height="17">
      <use href="/src/images/svg/svg-sprite.svg#arrow-right"></use>
    </svg>
  </button>
</section>

