<section class="kitchen-about">
  <div class="container">
    <h2 class="visually-hidden">About our kitchen</h2>
    <div class="kitchen-about-top">
      <div class="kitchen-about-top-info">
        <h3 class="kitchen-about-top-title">Amet minim mollit non</h3>
        <span class="kitchen-about-top-logo">MIMIHO</span>
        <p class="kitchen-about-top-text">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture class="kitchen-about-top-image">
        <source
          srcset="
            ./images/restaurant/rest-about/rest-about-desk1.jpg    1x,
            ./images/restaurant/rest-about/rest-about-desk1@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
        />
        <source
          srcset="
            ./images/restaurant/rest-about/rest-about-tab1.jpg    1x,
            ./images/restaurant/rest-about/rest-about-tab1@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1024px)"
        />
        <source
          srcset="
            ./images/restaurant/rest-about/rest-about-mob1.jpg    1x,
            ./images/restaurant/rest-about/rest-about-mob1@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1023.98px)"
        />
        <img
          src="./images/restaurant/rest-about/rest-about-desk1.jpg"
          alt="men in the kitchen"
          width="460"
        />
      </picture>
    </div>
    <div class="kitchen-about-mid">
      <p class="kitchen-about-mid-text">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <picture class="kitchen-about-mid-image">
        <source
          srcset="
            ./images/restaurant/rest-about/rest-about-desk2.jpg    1x,
            ./images/restaurant/rest-about/rest-about-desk2@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1280px)"
          width="460"
        />
        <source
          srcset="
            ./images/restaurant/rest-about/rest-about-tab2.jpg    1x,
            ./images/restaurant/rest-about/rest-about-tab2@2x.jpg 2x
          "
          type="image/jpeg"
          media="(min-width: 1024px)"
          width="400"
        />
        <source
          srcset="
            ./images/restaurant/rest-about/rest-about-mob2.jpg    1x,
            ./images/restaurant/rest-about/rest-about-mob2@2x.jpg 2x
          "
          type="image/jpeg"
          media="(max-width: 1023.98px)"
          width="244"
        />
        <img
          src="./images/restaurant/rest-about/rest-about-desk2.jpg"
          alt="meat on the table"
          width="460"
        />
      </picture>
    </div>
    <div class="kitchen-about-slider">
      <div class="slider-flex">
        <picture class="kitchen-about-slider-image">
          <source
            srcset="
              ./images/restaurant/rest-about/rest-slide-desk.jpg    1x,
              ./images/restaurant/rest-about/rest-slide-desk@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant/rest-about/rest-slide-tab.jpg    1x,
              ./images/restaurant/rest-about/rest-slide-tab@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/restaurant/rest-about/rest-slide-mob.jpg    1x,
              ./images/restaurant/rest-about/rest-slide-mob@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 1023.98px)"
          />
          <img
            src="./images/restaurant/rest-about/rest-slide-desk.jpg"
            alt="a man shakes flour from his hands"
            width="254"
          />
        </picture>
        <picture class="kitchen-about-slider-image">
          <source
            srcset="
              ./images/restaurant/rest-about/rest-slide-desk2.jpg    1x,
              ./images/restaurant/rest-about/rest-slide-desk2@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./images/restaurant/rest-about/rest-slide-tab2.jpg    1x,
              ./images/restaurant/rest-about/rest-slide-tab2@2x.jpg 2x
            "
            type="image/jpeg"
            media="(min-width: 1024px)"
          />
          <source
            srcset="
              ./images/restaurant/rest-about/rest-slide-mob2.jpg    1x,
              ./images/restaurant/rest-about/rest-slide-mob2@2x.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 1023.98px)"
          />
          <img
            src="./images/restaurant/rest-about/rest-slide-desk2.jpg"
            alt="dish"
            width="254"
          />
        </picture>
      </div>
      <div class="slider-button">
        <button class="kitchen-about-slider-arrow left">
          <svg width="32" height="32">
            <use href="./images/svg/svg-sprite.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="kitchen-about-slider-arrow right">
          <svg width="32" height="32">
            <use href="./images/svg/svg-sprite.svg#arrow-right "></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
