<section class="section menu-section">
  <div class="container">
    <h2 class="menu-titel" id="anchormenu">МЕНЮ РЕСТОРАНУ</h2>

    <div class="menu-list">
      <div>
        <table>
          <caption class="hot-dishes">
            Гарячі страви
          </caption>

          <tbody>
            <tr>
              <td class="menu-dish">Борщ з телятини з квасолею</td>
              <td rowspan="2" class="menu-dose">400 г</td>
              <td rowspan="2" class="menu-price">240 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори,
                зелень,
                сметана</td>
            </tr>

            <tr>
              <td class="menu-dish">Суп сирний з куркою</td>
              <td rowspan="2" class="menu-dose">400 г</td>
              <td rowspan="2" class="menu-price">200 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
            </tr>

            <tr>
              <td class="menu-dish">Паста карбонара</td>
              <td rowspan="2" class="menu-dose">350 г</td>
              <td rowspan="2" class="menu-price">430 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
            </tr>

            <tr>
              <td class="menu-dish">Стейк зі свинини</td>
              <td rowspan="2" class="menu-dose">400 г</td>
              <td rowspan="2" class="menu-price">500 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</td>
            </tr>

            <tr>
              <td class="menu-dish">Горбуша в соусі з білого вина</td>
              <td rowspan="2" class="menu-dose">400 г</td>
              <td rowspan="2" class="menu-price">400 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Ніжна горбуша, вершковий соус на основі білого вина</td>
            </tr>

          </tbody>

        </table>

        <table>
          <caption>
            Гарніри та закуски
          </caption>

          <tbody>
            <tr>
              <td class="menu-dish">Запечені овочі</td>
              <td rowspan="2" class="menu-dose">200 г</td>
              <td rowspan="2" class="menu-price">230 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Кабачок, перець, помідор, баклажан</td>
            </tr>

            <tr>
              <td class="menu-dish">Картопля фрі</td>
              <td rowspan="2" class="menu-dose">150 г</td>
              <td rowspan="2" class="menu-price">160 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Картопля, соус томатний</td>
            </tr>

            <tr>
              <td class="menu-dish">Картопля по-селянськи</td>
              <td rowspan="2" class="menu-dose">150 г</td>
              <td rowspan="2" class="menu-price">160 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Картопля, спеції, соус пікантний</td>
            </tr>

            <tr>
              <td class="menu-dish">Хрумкі соління з бочки</td>
              <td rowspan="2" class="menu-dose">250 г</td>
              <td rowspan="2" class="menu-price">350 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
            </tr>

            <tr class="snacks">
              <td class="menu-dish">Крильця курячі в медовому соусі</td>
              <td rowspan="2" class="menu-dose">400 г</td>
              <td rowspan="2" class="menu-price">420 грн</td>
            </tr>
            <tr class="snacks">
              <td class="menu-ingredients">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом
                блючиз</td>
            </tr>
          </tbody>
        </table>
      </div>

      <div>
        <table>
          <caption class="salads">
            Салати
          </caption>

          <tbody>
            <tr>
              <td class="menu-dish">Цезар з куркою</td>
              <td rowspan="2" class="menu-dose">230 г</td>
              <td rowspan="2" class="menu-price">450 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар
              </td>
            </tr>

            <tr>
              <td class="menu-dish">Цезар з креветками</td>
              <td rowspan="2" class="menu-dose">230 г</td>
              <td rowspan="2" class="menu-price">300 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус
                цезар
              </td>
            </tr>

            <tr>
              <td class="menu-dish">Грецький салат</td>
              <td rowspan="2" class="menu-dose">230 г</td>
              <td rowspan="2" class="menu-price">280 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату,
                соус
              </td>
            </tr>

            <tr>
              <td class="menu-dish">М’ясний салат</td>
              <td rowspan="2" class="menu-dose">230 г</td>
              <td rowspan="2" class="menu-price">300 грн</td>
            </tr>
            <tr>
              <td class="menu-ingredients">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець,
                соус
                ранч</td>
            </tr>
          </tbody>
        </table>

        <table>
          <caption>
            Десерти
          </caption>

          <tbody>
            <tr class="menu-row">
              <td class="menu-dish">Торт наполеон</td>
              <td class="menu-dose">230 г</td>
              <td class="menu-price">300 грн</td>
            </tr>

            <tr class="menu-row">
              <td class="menu-dish">Торт маковий</td>
              <td class="menu-dose">230 г</td>
              <td class="menu-price">300 грн</td>
            </tr>

            <tr class="menu-row">
              <td class="menu-dish">Тірамісу</td>
              <td class="menu-dose">120 г</td>
              <td class="menu-price">260 грн</td>
            </tr>
          </tbody>
        </table>

        <table>
          <caption class="drinks">
            Напої
          </caption>

          <tbody>
            <tr class="menu-row">
              <td class="menu-dish">Чай чорний/зелений</td>
              <td class="menu-dose-drink">500 мл</td>
              <td class="menu-price">100 грн</td>
            </tr>

            <tr class="menu-row">
              <td class="menu-dish">Еспресо</td>
              <td class="menu-dose-drink">30 мл</td>
              <td class="menu-price">100 грн</td>
            </tr>

            <tr class="menu-row">
              <td class="menu-dish">Американо</td>
              <td class="menu-dose-drink">150 мл</td>
              <td class="menu-price">100 грн</td>
            </tr>

            <tr class="menu-row">
              <td class="menu-dish">Капучино</td>
              <td class="menu-dose-drink">200 мл</td>
              <td class="menu-price">160 грн</td>
            </tr>

            <tr class="menu-row">
              <td class="menu-dish">Лате</td>
              <td class="menu-dose-drink">200 мл</td>
              <td class="menu-price">160 грн</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <button type="button" class="btn btn-rest-reserve">Забронювати столик</button>

  </div>
</section>