
ul{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

h1,h2,h3{
    margin: 0;
}

p{
    margin: 0;
}

.hero{
    display: flex;
    flex-direction: column;
    // max-width: 1280px;
    height: 720px;
    padding: 48px 0;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(/src/images/hotel/hero-hotel/hero-hotel-mob.jpg);
}

@media screen and (max-width: 413px){
    .hero {
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 1280px;
        height: 720px;
        padding: 14px 0;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/src/images/hotel/hero-hotel/hero-hotel-mob.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx){
    .hero{
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 1280px;
        height: 720px;
        padding: 14px 0;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/src/images/hotel/hero-hotel/hero-hotel-mob@2x.jpg);
        }
    }
}

@media screen and (min-width: 414px) and (max-width: 1023px){
    .hero{
        display: flex;
        flex-direction: column;
        position: relative;
        max-width: 1280px;
        height: 720px;
        padding: 14px 0;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/src/images/hotel/hero-hotel/hero-hotel-mob.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx){
        .hero{
            display: flex;
            flex-direction: column;
            position: relative;
            max-width: 1280px;
            height: 720px;
            padding: 14px 0;
            margin-left: auto;
            margin-right: auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/src/images/hotel/hero-hotel/hero-hotel-mob@2x.jpg);
        }
    }
}
@media screen and (min-width: 1023px) and (max-width: 1279px){
    .hero{
        display: flex;
        flex-direction: column;
        max-width: 1280px;
        height: 720px;
        padding: 0 0 22px;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/src/images/hotel/hero-hotel/hero-hotel-tab.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx){
        .hero{
            display: flex;
            flex-direction: column;
            max-width: 1280px;
            height: 720px;
            padding: 0 0 22px;
            margin-left: auto;
            margin-right: auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/src/images/hotel/hero-hotel/hero-hotel-tab@2x.jpg);
        }
    }
}
@media screen and (min-width: 1280px) {
    .hero{
        display: flex;
        flex-direction: column;
        // max-width: 1280px;
        height: 720px;
        padding: 48px 0;
        margin-left: auto;
        margin-right: auto;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url(/src/images/hotel/hero-hotel/hero-hotel-desk.jpg);
    }

    @media screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx){
        .hero{
            display: flex;
            flex-direction: column;
            // max-width: 1280px;
            height: 720px;
            padding: 48px 0;
            margin-left: auto;
            margin-right: auto;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: url(/src/images/hotel/hero-hotel/hero-hotel-desk@2x.jpg);
        }
    }
}

.hero .container{
 display: block;
 margin: auto auto 0;
 /* flex-wrap: nowrap; */
}

@media screen and (max-width: 414px){
    .hero .container{
    display: block;
   }
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .hero .container{
        display: block;
    }
}

.box-hero{
    display: block;
}

.box-button{
    display: flex;
    margin-left: auto;
    align-items: end;
}
@media screen and (max-width: 414px){
    .box-button{
        display: flex;
        margin-left: auto;
        align-items: end;
        justify-content: flex-end;
    } 
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .box-button{
        display: flex;
        margin-left: auto;
        align-items: end;
        justify-content: flex-end;
    }
}

.hero-title{
    font-family: 'Times New Roman', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.05em;
    margin-bottom: 24px;
    color: var(--main-title-color);
}

@media screen and (max-width: 414px){
    .hero-title{
        font-family: 'Times New Roman', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.1;
        letter-spacing: 0.05em;
        margin-bottom: 24px;
        color: var(--main-title-color); 
    } 
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .hero-title{
        font-family: 'Times New Roman', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.1;
        letter-spacing: 0.05em;
        margin-bottom: 24px;
        color: var(--main-title-color);
    }
}

.hero-text{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 0.02em;
    color: var(--main-title-color);
}

@media screen and (max-width: 414px){
    .hero-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        margin-bottom: 0;
       
    }
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .hero-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1279px){
    .hero-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        margin-bottom: 0;
        max-width: 400px;
    }
}
@media screen and (min-width: 1280px) {
    .hero-text{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.02em;
        color: var(--main-title-color);
        margin-bottom: 0;
        max-width: 400px;
    }
}

.button-hero{
    display: inline-flex;
    color: var(--accent-color);
    background-color: var(--transparent-btn-color);
    border: 2px solid var(--main-title-color);
    border-radius: 25px;
    padding: 14px 35px;
    position: absolute;
        
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3;

    /* border-color: transparent; */
    justify-content: center;
    align-items: center;
    letter-spacing: 0.02em;
    cursor: pointer;
    transition: background-color var(--defolt-animation),  border var(--defolt-animation);
}
@media screen and (max-width: 414px){
    .button-hero{
    bottom: 40px;}
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .button-hero{
    bottom: 40px;}
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .button-hero{
    right: 85px;
    } 
}

@media screen and (min-width: 1280px) {
    .button-hero{
    right: 85px;   
    }
}

.button-hero:hover,
.button-hero:focus{
    background-color: var(--main-title-color);
    border: 2px solid var(--accent-color);
}

@media screen and (max-width: 414px){
    .address{
        display: none;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.01em;
        text-decoration: none;
        padding: 8px 8px 8px 0;
        
        margin-top: 0;
        margin-right: 0;
        color: var(--address-hero-color);

        box-sizing: border-box;
        display: flex;
        /* width: 285px; */
        
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
    }

    .contacts .address{
        display: none;
    }

    .icon-map{
        fill: rgba(243, 198, 83, 0.7);
        margin: 8px 10px;
        width: 24px;
        height: 24px;
    }

    .icon{
        fill: rgba(243, 198, 83, 0.7);
    }

    .icon-list{
        display: block;
        padding: 0px;
        gap: 20px; 
    }
    .contacts{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        bottom: 0;
        left: 0;
    }
    /* .icon-list li:not(:last-child){
        margin-bottom: 8px;
    } */
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .address{
        display: none;
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.01em;
        text-decoration: none;
        padding: 8px 8px 8px 0;
        margin-right: 40px;
        
        color: var(--address-hero-color);

        box-sizing: border-box;
        display: flex;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
    }

    .contacts .address{
        display: none;
    }

    .icon-map{
        fill: rgba(243, 198, 83, 0.7);
        margin: 8px 10px;
        width: 24px;
        height: 24px;
    }

    .icon{
        fill: rgba(243, 198, 83, 0.7);
    }

    .icon-list{
        display: block;
        padding: 0px;
        gap: 20px; 
    }
    
    .contacts{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 16px;
        bottom: 0;
        left: 0;
    }

    /* .icon-list:not(:last-child){
        margin-bottom: 8px;
    } */
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .address{
        font-family: 'Montserrat', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.3;
        letter-spacing: 0.01em;
        text-decoration: none;
        padding: 8px 8px 8px 0;
        margin-right: 40px;
        
        color: var(--address-hero-color);

        box-sizing: border-box;
        display: flex;
        /* width: 285px; */
        
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;
    }
    .icon-map{
        fill: rgba(243, 198, 83, 0.7);
        margin: 8px 10px;
        width: 24px;
        height: 24px;
    }

    .icon{
        fill: rgba(243, 198, 83, 0.7);
    }

    .icon-list{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 20px; 
    }
    .contacts{
        display: flex;
        align-items: center;
        margin-top: 24px;
    }
}

@media screen and (min-width: 1280px) {
    .contacts .address{
       display: none;
    }

    .contacts .icon-list{
       display: none;
    }
}

.button-arrow-icons{
    fill: var(--accent-color);
    background-color:rgba(0, 0, 0, 0.65);
    border: none;
    cursor: pointer;
    transition: fill var(--defolt-animation);
}

.button-arrow-icons:hover,
.button-arrow-icons:focus{
    fill: var(--main-title-color);
}

.button-arrow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 72px;
    
}
@media screen and (max-width: 414px){
    .button-arrow{
        display: flex;
        justify-content: space-between;
        // top: 350px;
    }
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .button-arrow{
        display: flex;
        justify-content: space-between;
        // top: 350px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .button-arrow{
        display: flex;
        justify-content: space-between;
        // margin-top: 340px;
    }
}
.div-button{
    display: flex;
    justify-content: flex-end;
}

.box-room{
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 0;
    margin-left: auto;
}
@media screen and (max-width: 414px){
    .box-room{
        max-width: 415px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 415px) and (max-width: 1023px){
    .box-room{
        max-width: 415px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: 14px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1279px){
    .box-room{
    max-width: none;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    }
}