<!-- SLIDER
<include src="../slide/slide-double-room.html"></include> -->
<section class="section-room-double section">
    <div class="container">
        <h2 hidden>1 room for 2 adult</h2>
        <p class="upper-section-title">Amet minim mollit non</p>
        <h3 class="section-title">Mimino</h3>
        <div class="about-room">
            <span class="type-room">Двомісний номер</span>
            <p class="about-text-title">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <div class="foto">
            <img src="/src/images/hotel/hotel-rooms/room-3/hotel-room-mob3.jpg" alt="foto room">
            <div class="foto-room">
                <img src="/src/images/hotel/hotel-rooms/room-3/room-slide-mob31.jpg" alt="foto room">
                <img src="/src/images/hotel/hotel-rooms/room-3/room-slide-mob32.jpg" alt="foto room">
            </div>
        </div>
        <div class="selection-btn">
            <button class="about-btn button" type="button">Детальніше</button>
            <button class="price-btn button" type="button">Переглянути ціни</button>
        </div>
    </div>
</section>