<!-- SLIDER
<include src="../slide/slide-double-room-lux.html"></include> -->
 Hotel-Page-1-room-luxe-for-2-adult
<section class="room-double-lux container">

  <p class="lux-text">Amet minim mollit non</p>
  <h2 class="lux-tittle">MIMIHO</h2>
  <h3 class="lux-tittle-bottom">ДВОМІСНИЙ НОМЕР люкс</h3>
  <p class="lux-text-bottom">
    Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.`
    Velit officia consequat duis enim velit mollit. Exercitation veniam
    consequat sunt nostrud amet.
  </p>
 Hotel-Page-1-room-luxe-for-2-adult
  <img
    class="lux-pictures"
    src="/src/images/hotel/hotel-rooms/room-1/hotel-room-mob1.jpg"
    alt="bed in the room"
  />
  <img
    class="lux-pictures"
    src="/src/images/hotel/hotel-rooms/room-1/room-slide-mob11.jpg"
    alt="washbasin in the bathroom"
  />
  <img
    class="lux-pictures"
    src="/src/images/hotel/hotel-rooms/room-1/room-slide-mob12.jpg"
    alt="cup on the window"
  />

  <button class="lux-slide-btn" type="button">
    <svg width="30" height="17">
      <use href="/src/images/svg/svg-sprite.svg#arrow-left"></use>
    </svg>
  </button>
  <button class="lux-slide-btn" type="button">
    <svg width="30" height="17">
      <use href="/src/images/svg/svg-sprite.svg#arrow-right"></use>
    </svg>
  </button>
  <button class="lux-button" type="button">Детальніше</button>
  <button class="lux-button" type="button">Переглянути ціни</button>
</section>
