<!-- SLIDER
<include src="../slide/slide-double-room.html"></include> -->

<!-- 1 room for 2 adult -->

<section class="section-room-double section">
  <div class="container">
    <div class="room-double-container">
      <p class="over-logo">Amet minim mollit non</p>
      <p class="logo-room-double">MIMIHO</p>

      <h3 class="type-room">Двомісний номер</h3>
      <p class="about-room-double">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>

      <picture class="main-photo-room-double">
        <source
          srcset="
            /src/images/hotel/hotel-rooms/room-1/hotel-room-mob1.jpg    1x,
            /src/images/hotel/hotel-rooms/room-1/hotel-room-mob1@2x.jpg 2x
          "
          media="(max-width: 1023px)"
        />
        <source
          srcset="
            /src/images/hotel/hotel-rooms/room-1/hotel-room-tab1.jpg    1x,
            /src/images/hotel/hotel-rooms/room-1/hotel-room-tab1@2x.jpg 2x
          "
          media="(max-width:1279px)"
        />
        <source
          srcset="
            /src/images/hotel/hotel-rooms/room-1/hotel-room-desk1.jpg    1x,
            /src/images/hotel/hotel-rooms/room-1/hotel-room-desk1@2x.jpg 2x
          "
          media="(min-width: 1280px)"
        />
        <img
          src="/src/images/hotel/hotel-rooms/room-1/hotel-room-desk1.jpg"
          alt="photo-room-double"
          class="photo-room-double"
        />
      </picture>
    </div>
    <div class="low-box">
      <ul class="slider-room-double list">
        <li class="slider-room-double-item1 item">
          <picture>
            <source
              srcset="
                /src/images/hotel/hotel-rooms/room-1/room-slide-mob11.jpg    1x,
                /src/images/hotel/hotel-rooms/room-1/room-slide-mob11@2x.jpg 2x
              "
              media="max-width: 1023px)"
            />
            <source
              srcset="
                /src/images/hotel/hotel-rooms/room-1/room-slide-tab11.jpg    1x,
                /src/images/hotel/hotel-rooms/room-1/room-slide-tab11@2x.jpg 2x
              "
              media="(max-width:1279px)"
            />
            <source
              srcset="
                /src/images/hotel/hotel-rooms/room-1/room-slide-desk11.jpg    1x,
                /src/images/hotel/hotel-rooms/room-1/room-slide-desk11@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="/src/images/hotel/hotel-rooms/room-1/room-slide-desk11.jpg"
              alt="photo-sink"
              class="photo-slider"
            />
          </picture>
        </li>
        <li class="slider-room-double-item2 item">
          <picture>
            <source
              srcset="
                /src/images/hotel/hotel-rooms/room-1/room-slide-mob12.jpg    1x,
                /src/images/hotel/hotel-rooms/room-1/room-slide-mob12@2x.jpg 2x
              "
              media="(max-width: 1023px)"
            />
            <source
              srcset="
                /src/images/hotel/hotel-rooms/room-1/room-slide-tab12.jpg    1x,
                /src/images/hotel/hotel-rooms/room-1/room-slide-tab12@2x.jpg 2x
              "
              media="(max-width:1279px)"
            />
            <source
              srcset="
                /src/images/hotel/hotel-rooms/room-1/room-slide-desk12.jpg    1x,
                /src/images/hotel/hotel-rooms/room-1/room-slide-desk12@2x.jpg 2x
              "
              media="(min-width: 1280px)"
            />
            <img
              src="/src/images/hotel/hotel-rooms/room-1/room-slide-desk12.jpg"
              alt="photo-cup"
              class="photo-slider"
            />
          </picture>
        </li>
      </ul>

      <ul class="room-double-navigation list">
        <li class="arrow-btn">
          <button class="navigation-arrow" type="button">
            <svg width="32" height="32">
              <use href="/src/images/svg/svg-sprite.svg#arrow-left"></use>
            </svg>
          </button>
        </li>
        <li class="arrow-btn">
          <button class="navigation-arrow" type="button">
            <svg width="32" height="32">
              <use href="/src/images/svg/svg-sprite.svg#arrow-right"></use>
            </svg>
          </button>
        </li>
      </ul>

      <ul class="selection-btn-list list">
        <li class="selection-btn-item">
          <a class="about-btn link" href="/src/partials/double-room-page/"
            >Детальніше</a
          >
        </li>
        <li class="selection-btn-item">
          <button class="price-btn button js-open-modal" data-modal="3" type="button">
            Переглянути ціни
          </button>
        </li>
      </ul>
    </div>
  </div>
</section>
